.cards-style {
    width: 50%;
    margin-top: 5%;
    cursor: pointer;
}

.card-footer-style {
    margin-left: 5%;
}

.cards-style:hover {
    background-color: #cea1ca;
}

.image-style {
    cursor: pointer;
    float: right;
}