<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
      <app-searchbar></app-searchbar>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <app-filterbar (messageEvent)="receiveMessage($event)"></app-filterbar>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <app-accounts *ngIf="message==1 || message==3"></app-accounts>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <app-contacts *ngIf="message==2 || message==3"></app-contacts>
    </div>
  </div>
</div>